<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="login-form">
        <label for="email">email:</label>
        <input type="text" name="email" id="email">
        <br>
        <label for="password">password:</label>
        <input type="password" name="password" id="password">
        <br>
        <button type="submit" id="login-btn">login</button>
    </form>
    <script>
         const loginForm=document.querySelector('#login-form')
        const loginButton=document.querySelector('#login-btn')
        loginButton.addEventListener('click',(e)=>{
            e.preventDefault()
            const email=document.querySelector('#email').value;
            const password=document.querySelector('#password').value;

            fetch('/login',{
                method: 'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({
                    'email':email,
                    'password':password
                })

            })
            .then(response=>response.json())
            .then(data=>{
                localStorage.setItem('token',data.auth_token)
                console.log(localStorage.getItem('token'))
                window.location.href='/main'
            })
        })
    </script>
</body>
</html>